@charset "utf-8";
* { margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body { background-color: #f7f7f7; }
a { text-decoration: none; }
i, em { font-style: normal; }
img, textarea, input, select, span { border: none; display: block; background: none }
input { outline: none; }
table { border-collapse: collapse; border: none; }
li, ol, dl, ul { list-style: none; }
h1, h2, h3, h4, h5 { font-weight: normal; }
.ub { display: -webkit-flex; display: flex; position: relative; }
.ub-ver { -webkit-flex-direction:column; flex-direction:column; }
.ub-ac { -webkit-align-items: center; align-items: center; }
.ub-pc { -webkit-justify-content: center; justify-content: center; }
.ub-pj { -webkit-justify-content: space-between; justify-content: space-between; }
.ub-f1 { -webkit-flex: 1; flex: 1; }
.ub-img { -webkit-background-size: contain; background-size: contain; background-repeat: no-repeat; background-position: center; }
.ub-img1 { -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }
.ub-img7 { -webkit-background-size: 100% 100%; background-size: 100% 100%; background-repeat: no-repeat; background-position: center; }
.tx-c { text-align: center; }
.tx-l { text-align: left; }
.tx-r { text-align: right; }
.tx-j { text-align: justify; }
.br05 { border-radius: 5px; }
.br10 { border-radius: 10px; }
.br50 { border-radius: 50%; }
.bgb { background-color: #fff; }
.bgs { background-color: #ff6600; color: #fff; }
.bc { color: #333333 }
.sc { color: #ff6600 }
.red { color: #f00 }
.uhide { display: none; }
.plr10 { padding-left: 0.2rem; padding-right: 0.2rem; }
.plr15 { padding-left: 0.3rem; padding-right: 0.3rem; }
.plr20 { padding-left: 0.4rem; padding-right: 0.4rem; }
.bac { border: #e2e2e2 1px solid; }
.bbc { border-bottom: #e2e2e2 1px solid; }
.btc { border-top: 1px #e2e2e2 solid; }
.btbc { border-top: #e2e2e2 1px solid; border-bottom: #e2e2e2 1px solid; }