@charset "utf-8";
* { margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);box-sizing:border-box;}
html,body,#app{height: 100%;}
body { background-color: #f7f7f7; font-size: 50px;}
a,p,div,span,i{font-size: 0.28rem}
a { text-decoration: none; }
i, em { font-style: normal; }
button{border:none;outline: none;}
img, textarea, input, select, span { border: none; display: block; background: none }
input { outline: none; }
table { border-collapse: collapse; border: none; }
li, ol, dl, ul { list-style: none; }
h1, h2, h3, h4, h5 { font-weight: normal; }
.ub { display: -webkit-flex; display: flex; position: relative; }
.ub-ver { -webkit-flex-direction:column; flex-direction:column; }
.ub-ac { -webkit-align-items: center; align-items: center; }
.ub-pc { -webkit-justify-content: center; justify-content: center; }
.ub-pj { -webkit-justify-content: space-between; justify-content: space-between; }
.ub-pj1 { -webkit-justify-content: space-around; justify-content: space-around; }
.ub-f1 { -webkit-flex: 1; flex: 1; }
.ub-img { -webkit-background-size: contain; background-size: contain; background-repeat: no-repeat; background-position: center; }
.ub-img1 { -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }
.ub-img2 { -webkit-background-size: 100% 100%; background-size: 100% 100%; background-repeat: no-repeat; background-position: center; }
.ufl{float: left;}
.ufr{float: right;}
.clearfix:after{content: "";clear:both;display: table; }
.f12{font-size: 0.24rem}
.f13{font-size: 0.26rem}
.f14{font-size: 0.28rem}
.f16{font-size: 0.32rem}
.f18{font-size: 0.36rem}
.f20{font-size: 0.40rem}
.tx-c { text-align: center; }
.tx-l { text-align: left; }
.tx-r { text-align: right; }
.tx-j { text-align: justify; }
.br05 { border-radius: 5px; }
.br10 { border-radius: 10px; }
.br50 { border-radius: 50%; }
.bgb { background-color: #fff; }
.bgs { background-color: #ff6600; color: #fff; }
.bc { color: #333 }
.bc1{color: #666}
.sc { color: #999 }
.rc { color: #ff6000 }
.red { color: #f00 }
.uhide { display: none; }
.udb{display: block;}
.uds{display: inline-block;}
.plr10 { padding-left: 0.2rem; padding-right: 0.2rem; }
.plr15 { padding-left: 0.3rem; padding-right: 0.3rem; }
.p10{padding: 0.20rem;}
.plr20 { padding-left: 0.4rem; padding-right: 0.4rem; }
.mt10{margin-top: 0.20rem;}
.mt15{margin-top: 0.30rem}
.mt30{margin-top: 0.60rem}
.ml10{margin-left: 0.20rem;}
.mt05{margin-top: 0.10rem;}
.bac { border: #eee 1px solid; }
.bbc { border-bottom: #eee 1px solid; }
.btc { border-top: 1px #eee solid; }
.btbc { border-top: #eee 1px solid; border-bottom: #eee 1px solid; }
.mato{margin-left: auto; margin-right: auto}
.btn_common{background-color: #ff6000;height: 0.88rem;width: 100%;color: #fff;font-size: 0.32rem;text-align: center;;line-height: 0.88rem;border-radius: 0.10rem;}
.arrow-right{display: inline-block;width: 0.14rem;height: 0.30rem;background: url(../../assets/arrow-right.png) no-repeat center center;background-size:100% 100%;margin-left: 0.20rem}
